﻿/*-----------------мои стили----------------*/
DIV.item
{
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}
DIV.item:first-child
{
    border-top: none;
    padding-top: 0;
}

.headline
{
    padding: .5em;
    padding-top: 0;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 2px solid gray;
}

.List
{
    border-bottom: 2px solid gray;
}
.List td
{
    border: none;
    border-bottom: 1px dotted gray;
    text-align: left;
}
.List
{
    border-collapse: collapse;
    width: 100%;
}
.List th
{
    text-align: left;
}

.Message
{
    background: Purple;
    padding: .2em;
    margin-top: .25em;
}
.Message H1
{
    text-align: center;
    color: Black;
}

ul#lang
{
    margin: 0;
    padding: 0;
    text-align: right;
}

ul#lang li
{
    display: inline;
    list-style: none;
}

ul#lang li a
{
    background: none;
    color: #999;
    text-decoration: none;
}

ul#lang li a:hover
{
    color: #333;
    text-decoration: none;
}

/*Стили для поиска*/
div.clear
{
    height: 0;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    clear: both;
}

div.simpleSearch
{
   
    width:400px;
    float:left;
      
    
}
div.advancedSearch
{
     width: 400px; 
    float: right;   
    
    
}
div.simpleSearch span, div.advancedSearch span
{
    font-size:2em;   
    font-weight:bold;   
    
}

